<!DOCTYPE html>
<html>
  <head>
    <title>Thefirstrails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= link_to "ホーム", root_path %><br>
      <% if user_signed_in? %>
          こんにちは、<%= link_to current_user.email, users_show_path %><br>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %><br>
      <% else %>
          <%= link_to "サインイン", new_user_session_path %><br>
          <%= link_to "ユーザ登録", new_user_registration_path %><br>
      <% end %>
      <hr>
    <%= yield %>
  </body>
</html>
